.category_card {
  background-color: white;
  padding: 2%;
  width: 320px;
  height: 420px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s;
}

.category_card:hover {
  transform: scale(1.01);
}

.card_title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 10px;
  height: 60px;
}

.card_image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 250px;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card_link {
  color: #007185;
  font-size: 13px;
  margin-top: 15px;
  text-decoration: none;
}

.card_link:hover {
  color: #c7511f;
  text-decoration: underline;
}